.MuiImageListItem-img.active,
.MuiImageListItem-img:hover {
  border: 1px solid #1976d2;
}

.MuiImageListItem-img:hover {
  cursor: pointer;
}

.main-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.MuiImageList-standard li {
  overflow: hidden;
}
