/* image gallery */
.MuiImageListItem-img.active,
.MuiImageListItem-img:hover {
  border: 1px solid #1976d2;
}

.MuiImageListItem-img:hover {
  cursor: pointer;
}

.main-image img {
  width: 100%;
  height: 500px;
  object-fit: contain;
}

.MuiImageList-standard li {
  overflow: hidden;
}

/* product cards */
.MuiCard-root {
  position: relative;
}
.sale-flag {
  position: absolute;
  top: 25px;
  right: -30px;
  color: white;
  background-color: red;
  transform: rotate(45deg);
  width: 130px;
  text-align: center;
}

/* pricing */
.was-price {
  color: #b1b1b1;
  text-decoration: line-through;
  font-size: 14px;
}

.sale-price,
.no-sale-price {
  display: block;
  color: #0288d1;
  font-size: 24px;
}

/* ratings */
.ratings {
  display: flex;
  align-items: center;
}

.ratings .total-rating {
  display: inline-block;
  margin-left: 15px;
}
